[submodule "revelation"]
	path = revelation
	url = git@github.com:seniorivn/awesome-revelation.git
[submodule "newtag"]
	path = newtag
	url = git@github.com:seniorivn/awesome-newtag.git
[submodule "rork"]
	path = rork
	url = git@github.com:seniorivn/awesome-rork.git
[submodule "apw"]
	path = apw
	url = git@github.com:seniorivn/apw.git
[submodule "cheeky"]
	path = cheeky
	url = git@github.com:svexican/cheeky.git
[submodule "freedesktop"]
	path = freedesktop
	url = git@github.com:almonteb/awesome-freedesktop.git
[submodule "hints"]
	path = hints
	url = git@github.com:zackpete/hints
[submodule "tyrannical"]
	path = tyrannical
	url = git@github.com:Elv13/tyrannical.git 
[submodule "scratch"]
	path = scratch
	url = git@github.com:seniorivn/awesome-scratch.git
